.saved-quotes {
  margin-top: 30px;
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

.saved-quotes h2 {
  text-align: center;
}

.saved-quote {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #e9e9e9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .saved-quotes {
    width: 90%;
  }

  .saved-quote {
    padding: 10px;
    font-size: 14px;
  }
}