.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWxxazBpYm85NDEwbnY1YTI3N2c1aWwwM3k0OTZudWRxbG40ZDJteSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/BHNfhgU63qrks/giphy.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  button {
    width: 100%;
    font-size: 14px;
    padding: 8px 16px;
  }
}

